model/bert-base-uncased filter=lfs diff=lfs merge=lfs -text
word2vec.py filter=lfs diff=lfs merge=lfs -text
小样本下材料领域的实体命名.tex filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
descriptions filter=lfs diff=lfs merge=lfs -text
model filter=lfs diff=lfs merge=lfs -text
model_bertcrf filter=lfs diff=lfs merge=lfs -text
model_traditional filter=lfs diff=lfs merge=lfs -text
test.py filter=lfs diff=lfs merge=lfs -text
小样本下材料领域的实体命名.pdf filter=lfs diff=lfs merge=lfs -text
model/bert-base-uncased/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
model/bert-base-uncased/tokenizer.json filter=lfs diff=lfs merge=lfs -text
model/bert-base-uncased/vocab.txt filter=lfs diff=lfs merge=lfs -text
model/bert-base-uncased/LICENSE filter=lfs diff=lfs merge=lfs -text
model/bert-base-uncased/config.json filter=lfs diff=lfs merge=lfs -text
model/bert-base-uncased/rust_model.ot filter=lfs diff=lfs merge=lfs -text
model/bert-base-uncased/tf_model.h5 filter=lfs diff=lfs merge=lfs -text
model/bert-base-uncased/tokenizer_config.json filter=lfs diff=lfs merge=lfs -text
model/bert-base-uncased/README.md filter=lfs diff=lfs merge=lfs -text
model/bert-base-uncased/flax_model.msgpack filter=lfs diff=lfs merge=lfs -text
model/t5-base filter=lfs diff=lfs merge=lfs -text
model/t5-base/spiece.model filter=lfs diff=lfs merge=lfs -text
model/t5-base/tf_model.h5 filter=lfs diff=lfs merge=lfs -text
model/t5-base/tokenizer.json filter=lfs diff=lfs merge=lfs -text
model/t5-base/README.md filter=lfs diff=lfs merge=lfs -text
model/t5-base/config.json filter=lfs diff=lfs merge=lfs -text
model/t5-base/flax_model.msgpack filter=lfs diff=lfs merge=lfs -text
model/t5-base/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
model/t5-base/rust_model.ot filter=lfs diff=lfs merge=lfs -text
model/bilstmcrf_negative.pkl filter=lfs diff=lfs merge=lfs -text
model/bilstmcrf_normal.pkl filter=lfs diff=lfs merge=lfs -text
